<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>User Dashboard</title>
  <link rel="icon" href="/static/img/favicon.ico" sizes="any">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/styles/theme.css">
  <link rel="stylesheet" href="/static/styles/style.css">
  <link rel="stylesheet" href="/static/styles/nav.css">
  <script defer src="/static/scripts/external-svg-element.js"></script>
  <script defer src="/static/scripts/dark-mode.js"></script>
  <script defer src="/static/scripts/dashboard-book-search.js"></script>
</head>

<body class="theme-color-primary-bg theme-color-contrast-text">
  <div class="container d-flex justify-content-between mt-3 align-items-center">
    <h1>Welcome, {{ one_user.first_name }} {{ one_user.last_name }}</h1>
    <nav class="d-flex flex-row justify-content-end">
      <div class="form-check form-switch d-flex flex-row align-items-center">
        <input class="form-check-input px-2" type="checkbox" id="themeSwitch" role="switch">
        <label class="form-check-label px-2 fs-5" id="themeSwitchLabel" for="themeSwitch">Dark Mode</label>
      </div>
      <a href="/contact_us" class="icon" alt="Contact Us"><external-svg src="/static/svg/functional/envelope.svg"></a>
      {% if session['order_id'] %}
      <a href="/order/{{ one_user.id }}/view" class="icon" alt="Cart"><external-svg
          src="/static/svg/functional/shopping-cart.svg"></a>
      {% endif %}
      <a href="/users/logout" class="icon" alt="Log Out"><external-svg src="/static/svg/functional/logout.svg"></a>
    </nav>
  </div>
  <div class="container mt-4">
    {% for message in get_flashed_messages(category_filter = ['info']) %}
    <p class="text-info">{{ message }}</p>
    {% endfor %}
    {% for message in get_flashed_messages(category_filter = ['reg']) %}
    <p class="text-danger ms-3">{{ message }}</p>
    {% endfor %}
    <h2>Books:</h2>
    <div class="w-75 search-bar rounded my-2 theme-color-primary-milder-bg">
      <input type="text" name="search" id="bookSearch" placeholder="Search Books..."
        class="search-field theme-color-contrast-text">
      <div class="search-button theme-color-contrast-text" type="none">
        <external-svg src="/static/svg/functional/magnifying-glass.svg">
      </div>
    </div>
    <div id="flashMessage" class="alert alert-info theme-color-primary-mild-bg theme-color-contrast-text"
      style="display: none;"></div>
    <div id="booksContainer" class="books-container row scrollable">
      {% for book in books %}
      <div class="mb-3 w-100">
        <div class="card mb-2 theme-color-primary-mild-bg theme-color-contrast-text">
          <div class="card-body p-2 pt-3 pb-3 d-flex justify-content-between align-items-center">
            <div>
              <h5 class="card-title fs-4">{{ book.title }}</h5>
              <p class="card-text fs-5">{{ book.author }}</p>
            </div>
            <div class="d-flex justify-content-between">
              <a href="/book/{{ book.id }}/view" class="btn btn-lg btn-primary" style="margin-right: 0.5rem;">View</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% if books|length == 0 %}
      <p class="text-info"><strong>No books found.</strong></p>
      {% endif %}
    </div>
  </div>
</body>

</html>