<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Book</title>
  <link rel="icon" href="/static/img/favicon.ico" sizes="any">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles/theme.css">
  <link rel="stylesheet" href="/static/styles/style.css">
  <link rel="stylesheet" href="/static/styles/nav.css">
  <script defer src="/static/scripts/external-svg-element.js"></script>
  <script defer src="/static/scripts/dark-mode.js"></script>
  <script defer src="/static/scripts/genre-dropdown.js"></script>
</head>

<body class="theme-color-primary-bg theme-color-contrast-text">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
  <div class="container d-flex justify-content-between mt-3 align-items-center">
    <h1>New Book</h1>
    <nav class="d-flex flex-row justify-content-end">
      <div class="form-check form-switch d-flex flex-row align-items-center">
        <input class="form-check-input px-2" type="checkbox" id="themeSwitch" role="switch">
        <label class="form-check-label px-2 fs-5" id="themeSwitchLabel" for="themeSwitch">Dark Mode</label>
      </div>
      <a href="/dashboard" class="icon" alt="Back to Dashboard"><external-svg src="/static/svg/functional/home.svg"></a>
      <a href="/users/logout" class="icon" alt="Log Out"><external-svg src="/static/svg/functional/logout.svg"></a>
    </nav>
  </div>
  <div class="container mt-4">
    <div class="mb-3 w-100">
      <div class="card compact-card theme-color-primary-mild-bg theme-color-contrast-text px-2">
        <form action="/book/new/process" method="post" class="container mt-5">
          <div class="d-flex justify-content-between mb-3">
            <label for="title" class="form-label fs-5">Title</label>
            <input placeholder="Enter Title" name="title" id="title" type="text" class="form-control w-50 fs-5">
          </div>
          <div class="d-flex justify-content-between mb-3">
            <label for="author" class="form-label fs-5">Author</label>
            <input placeholder="Enter Author" name="author" id="author" type="text" class="form-control w-50 fs-5">
          </div>
          <div class="d-flex justify-content-between mb-3">
            <p class="form-label fs-5">Genre</p>
            <div class="dropdown w-50">
              <button id="genreDropdownMenuButton" class="btn-secondary form-control custom-dropdown-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="fs-5">Select a Genre</span>
                <i class="bi bi-chevron-down"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="genreDropdownMenuButton" id="genreList">
                <!-- List items will be dynamically populated here -->
              </ul>
            </div>
            <input id="selectedGenre" type="hidden" name="genre" value="">
          </div>
          <div class="d-flex justify-content-between mb-3">
            <label for="price" class="form-label fs-5">Price</label>
            <input placeholder="Enter Price" name="price" id="price" type="text" class="form-control w-50 fs-5">
          </div>
          <div class="d-flex justify-content-between mb-3">
            <label for="quantity_in_stock" class="form-label fs-5">Quantity In Stock</label>
            <input placeholder="Enter Quantity in Stock" name="quantity_in_stock" id="quantity_in_stock" type="text"
              class="form-control w-50 fs-5">
          </div>
          <input type="hidden" name="user_id" value="{{ session['user_id'] }}" />
          <div class="d-flex gap-3 mb-5">
            <a href="/admin_dashboard" class="btn btn-lg btn-warning">Cancel</a>
            <button class="btn btn-lg btn-primary" type="submit">Submit</button>
          </div>
          {% for message in get_flashed_messages() %}
          <p class="text-danger">{{ message }}</p>
          {% endfor %}
        </form>
      </div>
    </div>
  </div>
</body>

</html>