
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding: 0 1em;
    flex: 1;
}

img {
    object-fit: cover;
}

input {
    border: none;
    outline-width: 0;
    background-color: var(--contrast-color-transparent);
}

footer {
    bottom: 0;
}

.icon {
    color: inherit;
}

footer .icon {
    margin: 0 32px;
    height: 40px;
}
footer .icon>svg {
    height: 40px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.5em;
    max-width: 720px;
}

.search-field {
    padding: 0 0.5rem;
    width: 100%;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -36px;
    display: flex;
    align-items: center;
    width: 36px;
    height: 100%;
}

.search-button>svg {
    height: 60%
}

.scrollable {
    padding-right: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 425px;
}

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--contrast-color-mild);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--contrast-color);
}

#themeSwitchLabel {
    user-select: none;
}

div:has(>#themeSwitch) {
    border: 2.5px solid rgb(from var(--contrast-color-mild) r g b / 0.2);
    border-radius: 4px;
}

#themeSwitch {
    margin: auto;
    margin-left: -30px;
}